<div>
<% @array.each do | data |%>
    <nav class="item_box">
      <li class="item"><%= data.name %></li>
      <li class="item"><%= data.date %></li>
      <li class="item"><%= data.image %></li>
    </nav>
<% end %>
  </div>